.custom-scrollbar {
  max-height: 15rem; /* Adjust max height as needed */
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(3, 51, 163, 0.5) rgba(240, 240, 240, 0.5); /* Adjust scrollbar colors */
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(24, 63, 178, 0.5); /* Adjust track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5); /* Adjust thumb color */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(40, 3, 149, 0.8); /* Adjust thumb color on hover */
}
